.bg-image{
    background: url('/images/bg-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80px;
    padding: 0;
    position: relative;
}

.overlay{
    width: 100%;
    height: 80px;
    background-color: black;
    opacity: .6;
    position: absolute;
    top: 0;
}

.header-text{
    color: #fff;
    position: relative;
    z-index: 3;
    padding-top: 25px;
}

.donate-img{
    width: 70%;
    padding-top: 40px;
}

.btn-sm{
    width: 30%;
}

.form-data{
    width: 251px;
    font-size: 10px;
    padding: 15px;
    border: 1px solid #295F79;
}

.account-details{
    padding-left: 12%;
}

.pay{
    color: #295F79;
    margin: 0;
    font-weight: 600;
}