*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.first-sec{
    background-color:#C4C4C4;
}

.text-header{
   font-size: 30px;
   font-weight: 800;
   color: #0169A6;
}

.gmark{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 500px;
    bottom: 82px;
}

.b-mark{
    margin-left: 3.3em;
    margin-top: -50px;
    width: 30px;
    height: 30px;
}

.sb-mark{
    width: 5px;
    height: 5px;
    margin-left: 200px;
}

.front-img{
    margin-left: 15%;
}

.layer-container{
    position: relative;
}

.top-layer{
    position: relative;
    top: 15px;
    left: 2px;
    z-index: 5;
    height: 350px;
    width: 68%;
}

.back-layer{
    position: absolute;
    top: 20px;
    left: 0;
    height: 350px;
    width: 65%;
}

.curv{
    position: relative;
}

.cr-img{
    position: absolute;
    top: 8px;
    left: -5px;
    width: 68% !important;
}

.second-sec, .achievements, .projects, .testimonial, .form{
    background-color: #FAF3F3;
}

/* .word-div{
    border-right: 6px solid #FC5F06;
    border-radius: 5px;
} */

.img-2{
    height: 350px;
    width: 72%;
    margin-left: 15%;
}

.mini-sec, .donors{
    background-color: #0169A6;
    color: #F2F2F2;
}

.card-body{
    background-color: #295F79;
    color: #F2F2F2;
}

.card, .btn{
    background-color: #FC5F06;
    color: #F2F2F2;
}

.btn{
    border-radius: 50px;
    border: none;
}

.btn:hover{
    background-color: #295F79;
    color: #dfd5d5 !important;
}

.rect-img{
    width: 290px !important;
    height: 300px;
    margin: 20px;
}

.testimonial-text{
    margin-left: 90px;
    padding-top: 10px;
}

.form-div{
    width: 80%;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 25px;
    border: 1px solid #2D6A4F;
    border-radius: 5px;
}

input{
    width: 237px;
}

.footer-item{
    margin: 5px 15px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: 20px;
    font-size: 12px;
}

.bd-class{
    border-right: 2px solid #fff;
}

.footer{
    background-color: #0169A6;
}

.comma{
    font-size: 22px;
    font-style: italic;
}


.see-btn{
    width: 10%;
    border-radius: 50px;
}

span[aria-label="Previous"]{
   font-size: 40px;
   color: #295F79;
   position: absolute;
   top: 80px;
   left: 0;
   margin-left: -20px;
}

span[aria-label="Next"]{
   font-size: 40px;
   color: #295F79;
   position: absolute;
   top: 80px;
   right: 0;
   margin-right: -20px;  
 }

 .owl-img-2{
     width: 100px !important;
     height: 100px !important;
 }

 a{
     text-decoration: none;
     color: #fff;
 }

 a:hover{
     color: #F2F2F2;
 }

 .social-logos img{
   width: 30px;   
 }