@media only screen and (max-width: 990px){
    .nav-item{
        width: 30%;
    }
}

@media only screen and (max-width: 750px){
    body{
        font-size: 14px;
     }

    .count{
        width: 50%;    
        margin: 0 auto !important;   
    }
}

@media only screen and (max-width: 500px){
    body{
       font-size: 12px;
    }

    .count{
        width: 70%;       
    }

    .col-md-6 .pb-sm-5{
        padding-top: 0 !important;    
        padding-bottom: 30px;    
    }
}
