@media only screen and (max-width: 995px){
    .see-btn{
        width: 20%;
    }
}

@media only screen and (max-width: 900px){ 
    body{
        font-size: 14px;
    }

    .top-layer, .back-layer{
        height: 250px;
        width: 300px;
        padding: 20px;
        margin-left: 10%;
    }

    .curv img{
        height: 300px;
    }

    .rect-img{
        width: 220px;
        height: 220px;
    }

    .card{
        width: 70%;
        margin: 20px auto;
    }

    .form-div{
        width: 100%;
        margin: 15px auto;
    }

    input, textarea{
        width: 200px;
    }

    textarea{
        height: 80px;
    }

  }

@media only screen and (max-width: 600px) {
    body{
        font-size: 12px;
    }
    
    .b-mark{
      margin-left: -65px;
    }
    .sb-mark{
       margin-left: 100px;
    }
    
    .gmark{
       left: 300px;  
       bottom: 220px; 
    }

    .right button{
        width: 80%;
        font-size: 18px;
        margin-left: -10%;
    }

    .layer-container{
        margin-top: 30px;
    }

    .text-header{
        font-size: 35px;
        font-weight: 600;
    }

    .btn-lg, .btn-sm, .btn-md{
       font-size: 12px;   
    }

    .top-layer, .back-layer{
        height: 230px;
    }

    .word-div{
        width: 80%;
        margin: 0 auto;
        letter-spacing: 1px;
        border: none;
        text-align: center;
    }

    .curv{
      margin-bottom: -15px;
    }

    .curv img{
        height: 240px;
    }

    .support{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        line-height: 2em;
    }

    .support button{
        padding: 10px;
        width: 50%;   
        font-size: 20px; 
    }

    .support h3{
        line-height: 1.7em;
    }
    
    .card{
        width: 70%;
        margin: 20px auto;    

    }

    .test-wrapper{
        padding-left: 0 !important;
    }

    .test-wrapper img{
       width: 80px;
       height: 80px;
      
    }
    
    .form{
        padding-top: 0 !important;
    }

    .form-div{
        width: 60%;
        margin: 30px auto;
        height: 250px;
        padding-top: 30px;
        margin-bottom: 30px;
    }

    input, textarea{
        width: 150px;
    }

    textarea{
        height: 80px;
    }

    .form-btn{
      font-size: 12px;
    }

    .address{
        margin-bottom: 0 !important;
        margin-top: 30px !important;
    }

    .donors h4{
        font-size: 15px;
    }

    .acheive{
        flex-direction: column;
        justify-content: center;
    }

    .rect-img{
        width: 250px;
        height: 250px;
        margin: 20px auto;
    }

    .owl-img{
        width: 70% !important;
        margin: 0 auto;
    }

    span[aria-label="Previous"]{
        margin-left: 25px;
     }
     
     span[aria-label="Next"]{
        margin-right: 25px;  
      }

     .test-name{
        margin-right: 40px !important;
     }

     .testimonial-text{
         width: 80%;
         margin: 0 auto;         
     }

     .see-btn{
         width: 35%;
     }

  }

 