*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
    width: 30px;
    height: 30px;
}

.navbar-nav{
    margin-right: 17%;
}

.bg, .donate{
    background-color: #2e508d;
    color: #F2F2F2;
}

.navbar.bg {
    background-color: #d72635 !important;
}

.donate-btn{
    background-color: #FC5F06 !important;
    border-radius: 50px;
}

.donate-btn a {
    color: #fff;
}

.donate-btn a:hover{
    color: #093e58;
}

.nav-link{
    color: #F2F2F2 !important;
    transition: all ease-in-out .2s;
}

.nav-link:hover{
    text-align: center;
    background-color: #FC5F06;
    border-radius: 50px;
    font-weight: 700;
}

.images{
    width: 70%;
    height: 300px;
    margin-top: 30px;
}

.count{
    position: relative;
}

.top-img{
    position: absolute;
    top: 7px;
    left: -6px;
}

.over{
        position: absolute;
        top: -5px;
        left: 6px;
}

#about{
    background-color: #E5E5E5;
}

.members-container{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.team-img{
    width: 40%;
    margin: 20px;
}

.team-text{
    margin-top: -17px;
}

.team-text h6{
    margin-top: -14px;
}

/* Media Queries */

@media only screen and (max-width: 990px){
    .nav-item{
        width: 30%;
    }
}

@media only screen and (max-width: 750px){
    body{
        font-size: 14px;
     }

    .count{
        width: 100%;    
        margin: 0 auto !important;   
    }

    .images{
        width: 100%;
        margin-bottom: 30px;
    }

}

@media only screen and (max-width: 500px){
    body{
       font-size: 12px;
    }

    .count{
        width: 100%;
    }

    .col-md-6 .pb-sm-5{
        padding-top: 0 !important;    
        padding-bottom: 30px;    
    }

    .team-row{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .team-text h6{
        font-size: 12px;
    }
}
